{% extends "homepage.html" %}
{% block body %}
        <h2 class="sub-header">Customers</h2>
        <form class="form-signin" action="{{ url_for('list_customer_request') }}" method="get">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Add Customer</button>
        </form>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Company Name</th>
                  <th>Type</th>
                  <th>Contact</th>
                  <th>Address</th>
                  <th>Last Updated</th>
                </tr>
              </thead>
              <tbody>
                {% for customer in retCustomers %}
                <tr>
                  <td>{{ customer.company_name }}</td>
                  <td>{{ customer.client_type }}</td>
                  <td>{{ customer.contact_first_name }} {{ customer.contact_last_name }}</td>
                  <td>{{ customer.address1 }}, {{ customer.city }}, {{customer.state}}, {{customer.country}}</td>
                  <td>{{customer.updated_at}}</td>
                </tr>
                {% else %}
                <tr>
                  <td> </td>
                  <td> </td>
                  <td>No Customers</td>
                  <td> </td>
                  <td> </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}