{% extends "homepage.html" %}
{% block body %}
        <h2 class="sub-header">New Service Request</h2>
        <div class="container">
        {% if error %}
        <div id="alert" class="alert alert-danger" role="alert">{{ error }}</div> 
        {% else %}
        <div id="alert" class="alert alert-danger hidden" role="alert">{{ error }}</div>
        {% endif %}




        <div class="form-group">
          <form class="form-vertical" action="" method="post">
          	<fieldset>
				
				<br>&nbsp;<br>


				<div id="section1" class="col-md-12">
					<div class="col-md-4">
			          	<!-- Item Selection -->
			          	<label class="control-label" for="type">What type of service do you need?</label>
						<select id="type" class="col-md-6 form-control">
						    <option value="1">Elliptical Repair</option>
						    <option value="2">Elliptical Preventative Maintenance</option>
						    <option value="3">Cycle Repair</option>
						    <option value="4">Cycle Preventative Maintenance</option>
						    <option value="5">Treadmill Repair</option>
						    <option value="6">Treadmill Preventative Maintenance</option>
						</select>
					</div>

					<div class="col-md-4">
			          	<!-- Item Selection -->
			          	<label class="control-label" for="quantity">How many?</label>
						<select id="quantity" class="col-md-6 form-control">
						    <option value="1" default>1</option>
						    <option value="2">2</option>
						    <option value="3">3</option>
						    <option value="4">4</option>
						    <option value="5">5</option>
						    <option value="6">6</option>
						    <option value="7">7</option>
						    <option value="8">8</option>
						    <option value="9">9</option>
						    <option value="10">10</option>
						    <option value="11">11</option>
						    <option value="12">12</option>
						    <option value="13">13</option>
						    <option value="14">14</option>
						    <option value="15">15</option>
						    <option value="16">16</option>
						    <option value="17">17</option>
						    <option value="18">18</option>
						    <option value="19">19</option>
						    <option value="20">20</option>
						</select>
					</div>

					<div class="col-md-4">
			          	<!-- Item Selection -->
			          	<label class="control-label" for="pm">Applies to PM Contract?</label>
						<select id="pm" class="col-md-6 form-control">
						    <option value="No" default>No</option>
						</select>
					</div>
					
					<br>&nbsp;<br>
					
					<div class="col-md-12">
			          	<!-- Item Selection -->
			          	<label class="control-label" for="description">What seems to be the issue?</label>
						<textarea id="description" rows="3" class="col-md-12 form-control"></textarea>
					</div>

				</div>

				<div id="section2" class="col-md-12" style="display:none">
					<div class="col-md-4">
			          	<!-- Item Selection -->
			          	<label class="control-label" for="date_requested">When would you like the service?</label>
						<input id="date_requested" name="date_requested" type="date" placeholder="" class="form-control input-md" required>
					</div>

					<div class="col-md-4">
			          	<!-- Item Selection -->
			          	<label class="control-label" for="timeframe">What timeframe is better?</label>
						<select id="timeframe" class="col-md-6 form-control">
						    <option value="1" default>8 AM - noon</option>
						    <option value="2">10 AM - 2 PM</option>
						    <option value="3">noon - 5 PM</option>
						</select>
					</div>

				
					
					<br>&nbsp;<br>
					
				</div>

				<div id="section3" class="col-md-12" style="display:none">
					<div class="col-md-12">
			          	<!-- Item Selection -->
			          	<h3 class="sub-header">Items</h3>
					</div>


					<div class="col-md-12">
			          	<!-- Item Selection -->
			          	<div class="col-md-2">
			          		<label id="counter" class="control-label">1</label>
						</div>
						<div class="col-md-6">
							<dl>
							  <dt id="lbl_title"></dt>
							  <dd id="lbl_description"></dd>
							</dl>
			          	<!--<label id="title" class="control-label">Elliptical Service</label>
			          		<br>
			          		<label id="description" class="control-label">description</label>
			          	-->
						</div>
						<div class="col-md-2">
			          		<label id="lbl_quantity" class="control-label"></label>
						</div>
						<div class="col-md-2">
			          		<label id="price" class="control-label">$175.00</label>
						</div>
					</div>

				
					
					<br>&nbsp;<br>
					
				</div>

				<br>&nbsp;<br>
				<br>&nbsp;<br>

				<div class="col-md-12">
					<!-- Buttons -->
					<div class="col-md-4">
					</div>
					<div class="col-md-2">
						<button id="cancelButton" class="btn btn-default btn-block" type="button">Cancel</button>
					</div>
					<div class="col-md-2">
						<button id="nextButton" class="btn btn-primary btn-block" type="button">Next</button>
					</div>

				</div>


				
				
				
            </fieldset>
          </form>
         </div>
        </div>

        <script>

        	var step = 1; // holds page state; 1=type,2=datetime,3=approve
        	var ticket = new Object();

			$( document ).ready(function() {
			    showStep1(); // initialize page
			});

			// button transitions
			$('#nextButton').click(function() {
				switch(step) {
				    case 1:
				       //if(validate())
				        	showStep2();
				        break;
				    case 2:
				    	//if(validate())
				    		showStep3();
				        break;
					case 3:
						createTicket(); //approve
				}
				
			});
			$('#cancelButton').click(function() {
				switch(step) {
				    case 1:
				        window.location.href = '/home'; //cancel
				        break;
				    case 2:
				    	showStep1();
				        break;
				    case 3:
				    	showStep2();
				}
			});

			function validate() { // validate all fields
				msg = "Please fill in all fields";
				if($('#type').val().trim() == null)
					$('#alert').text(msg);
				if($('#quantity').val().trim() == null)
					$('#alert').text(msg);
				if($('#pm').val().trim() == null)
					$('#alert').text(msg);
				if($('#description').val().trim() === '')
					$('#alert').text(msg);
				if($('#date_requested').val().trim() == null)
					$('#alert').text(msg);
				if($('#timeframe').val().trim() == null)
					$('#alert').text(msg);
			}
			function showStep1() {
				saveDataLocally();
				$('#section1').show();
			    $('#section2').hide();
			    $('#section3').hide();
			    $('#cancelButton').text("Cancel");
			    $('#nextButton').text("Next >>");
			    step = 1;
			}
			function showStep2() {
				saveDataLocally();
				$('#section1').hide();
			    $('#section2').show();
			    $('#section3').hide();
			    $('#cancelButton').text("<< Back");
			    $('#nextButton').text("Next >>");
			    step = 2;
			}
			function showStep3() {
				saveDataLocally();
				loadStep3Data();
				$('#section1').hide();
			    $('#section2').hide();
			    $('#section3').show();
			    $('#cancelButton').text("<< Back");
			    $('#nextButton').text("Approve");
			    step = 3;
			}
			function loadStep3Data() {
				$('#lbl_title').text($("#type option:selected").text());
				$('#lbl_description').text(ticket.desc);
				$('#lbl_quantity').text(ticket.quantity);
			}
			function createTicket() {
				// submit form
				$.ajax
			    ({
			        type: "POST",
			        url: "{{ url_for('create_service_request') }}",
			        dataType: 'json',
			        async: false,
			        data: JSON.stringify(ticket),
			        success: function () {
			        	alert("Thanks!"); 
			        },
			        error: function () {
			        	$("#alert").text("There seems to be an issue at the moment");
			        	$("#alert").removeClass('hidden');
			        }
			    })
			}
			function saveDataLocally() {
				ticket.type = $("#type").val();
				ticket.quantity = $('#quantity').val();
				ticket.pm = $('#pm').val();
				ticket.desc = $('#description').val().trim();
				ticket.date_requested = $('#date_requested').val();
				ticket.timeframe = $('#timeframe').val();
			}

        </script>
     
{% endblock %}