{% extends "homepage_gsdt.html" %}
{% block body %}
        <h2 class="sub-header">New Service Request</h2>
        <div class="container">
        {% if error %}
        <div id="alert" class="alert alert-danger" role="alert">{{ error }}</div> 
        {% else %}
        <div id="alert" class="alert alert-danger hidden" role="alert">{{ error }}</div>
        {% endif %}




        <div class="form-group">
          <form class="form-vertical" action="" method="post">
          	<fieldset>
				
				<br>&nbsp;<br>


				<div id="section1" class="col-md-12">
					<div class="col-md-4">
			      <label class="control-label btn-block" for="type">What type of service do you need?</label>
						<select id="type" class="selectpicker" data-style="form-control btn-block">
							{% for tt in ticket_types: %}
						    <option value="{{ tt.id }}">{{ tt.title }}</option>
						    {% endfor %}
						</select>
					</div>

					<div class="col-md-4">
			      <label class="control-label btn-block" for="quantity">How many?</label>
						<select id="quantity" class="selectpicker" data-style="form-control btn-block">
						    <option value="1" default>1</option>
						    <option value="2">2</option>
						    <option value="3">3</option>
						    <option value="4">4</option>
						    <option value="5">5</option>
						    <option value="6">6</option>
						    <option value="7">7</option>
						    <option value="8">8</option>
						    <option value="9">9</option>
						    <option value="10">10</option>
						    <option value="11">11</option>
						    <option value="12">12</option>
						    <option value="13">13</option>
						    <option value="14">14</option>
						    <option value="15">15</option>
						    <option value="16">16</option>
						    <option value="17">17</option>
						    <option value="18">18</option>
						    <option value="19">19</option>
						    <option value="20">20</option>
						    <option value="21">21</option>
						    <option value="22">22</option>
						    <option value="23">23</option>
						    <option value="24">24</option>
						    <option value="25">25</option>
						    <option value="26">26</option>
						    <option value="27">27</option>
						    <option value="28">28</option>
						    <option value="29">29</option>
						    <option value="30">30</option>
						    <option value="31">31</option>
						    <option value="32">32</option>
						    <option value="33">33</option>
						    <option value="34">34</option>
						    <option value="35">35</option>
						    <option value="36">36</option>
						    <option value="37">37</option>
						    <option value="38">38</option>
						    <option value="39">39</option>
						    <option value="40">40</option>
						    <option value="41">41</option>
						    <option value="42">42</option>
						    <option value="43">43</option>
						    <option value="44">44</option>
						    <option value="45">45</option>
						    <option value="46">46</option>
						    <option value="47">47</option>
						    <option value="48">48</option>
						    <option value="49">49</option>
						    <option value="50">50</option>
						</select>
					</div>

					<div class="col-md-4">
			      <label class="control-label btn-block" for="pm">Applies to PM Contract?</label>
						<input id="pm" type="checkbox" data-toggle="switch" />
					</div>
					
					<br>&nbsp;<br>
					
					<div class="col-md-12">
			          	<label class="control-label btn-block" for="description">What seems to be the issue?</label>
						<textarea id="description" rows="3" class="col-md-12 form-control"></textarea>
					</div>

				</div>

				<div id="section2" class="col-md-12" style="display:none">
					<div class="col-md-4">
			      <label class="control-label btn-block" for="date_requested">When would you like the service?</label>
						<input id="date_requested" name="date_requested" type="date" placeholder="" class="form-control btn-block" required>
					</div>

					<div class="col-md-4">
			          	<label class="control-label btn-block" for="timeframe">What timeframe is better?</label>
						<select id="timeframe" class="selectpicker" data-style="form-control btn-block">
						    {% for ts in time_slots: %}
						    <option value="{{ ts.id }}">{{ ts.title }}</option>
						    {% endfor %}
						</select>
					</div>

				
					
					<br>&nbsp;<br>
					
				</div>

				<div id="section3" class="table-responsive" style="display:none">
				    <table class="table table-shopping">
				        <thead>
				            <tr>
				                <th>Product</th>
				                <th class="th-description">Description</th>
				                <th class="text-right">Price</th>
				                <th class="text-right">Qty</th>
				                <th class="text-right">Amount</th>
				                <th></th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr>
				                <td class="td-name"><span id="lbl_title"></span>
				                </td>
				                <td><span id="lbl_description"></span>
				                </td>
				                <td class="td-number">
				                    <small>&#36;</small><span id="price">175</span>
				                </td>
				                <td class="td-number">
				                    <small>x</small><span id="lbl_quantity">1</span>
				                </td>
				                <td class="td-number">
				                    <small>&#36;</small><span id="amount">175</span>
				                </td>
				                <td class="td-actions">
				                    <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-danger btn-simple btn-icon ">
				                        <i class="fa fa-times"></i>
				                    </button>
				                </td>
				            </tr>
				            <tr>
				            		<td></td>
				                <td></td>
				                <td></td>
				                <td class="td-total">
				                   Total
				                </td>
				                <td class="td-price">
				                    <small>&#36;</small>175
				                </td>
				                <td></td>
				            </tr>
				        </tbody>
				    </table>
		        </div>
				<br>&nbsp;<br>
				<br>&nbsp;<br>

				<div class="col-md-12">
					<!-- Buttons -->
					<div class="col-md-4">
					</div>
					<div class="col-md-2">
						<button id="cancelButton" class="btn btn-default btn-block btn-round btn-fill" type="button">Cancel</button>
					</div>
					<div class="col-md-2">
						<button id="nextButton" class="btn btn-primary btn-block btn-round btn-fill" type="button">Next</button>
					</div>

				</div>


				
				
				
            </fieldset>
          </form>
         </div>
        </div>
        
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>

  var step = 1; // holds page state; 1=type,2=datetime,3=approve
  var ticket = new Object();

	$( document ).ready(function() {
	    showStep1(); // initialize page
	});

	// button transitions
	$('#nextButton').click(function() {
		
		//remove any messages
		if($("#alert").text().length > 0)
			$("#alert").empty();
		
		switch(step) {
		    case 1:
		       //if(validate())
		        	showStep2();
		        break;
		    case 2:
		    	if(validateData()) { showStep3(); }
		        break;
			case 3:
				createTicket(); //approve
		}
		
	});
	$('#cancelButton').click(function() {

		//remove any messages
		if($("#alert").text().length > 0)
			$("#alert").empty();

		switch(step) {
		    case 1:
		        window.location.href = "{{ url_for('home') }}"; //cancel
		        break;
		    case 2:
		    	if(validateData()) { showStep1(); }
		        break;
		    case 3:
		    	showStep2();
		}
	});

	function validate() { // validate all fields
		msg = "Please fill in all fields";
		if($('#type').val().trim() == null)
			$('#alert').text(msg);
		if($('#quantity').val().trim() == null)
			$('#alert').text(msg);
		if($('#pm').val().trim() == null)
			$('#alert').text(msg);
		if($('#description').val().trim() === '')
			$('#alert').text(msg);
		if($('#date_requested').val().trim() == null)
			$('#alert').text(msg);
		if($('#timeframe').val().trim() == null)
			$('#alert').text(msg);
	}
	function showStep1() {
		saveDataLocally();
		$('#section1').show();
	    $('#section2').hide();
	    $('#section3').hide();
	    $('#cancelButton').text("Cancel");
	    $('#nextButton').text("Next >>");
	    step = 1;
	}
	function showStep2() {
		saveDataLocally();
		$('#section1').hide();
	    $('#section2').show();
	    $('#section3').hide();
	    $('#cancelButton').text("<< Back");
	    $('#nextButton').text("Next >>");
	    step = 2;
	}
	function showStep3() {
		if(validateData()) {
			saveDataLocally();
			loadStep3Data();
			$('#section1').hide();
		    $('#section2').hide();
		    $('#section3').show();
		    $('#cancelButton').text("<< Back");
		    $('#nextButton').text("Approve");
		    step = 3;
		}
	}
	function loadStep3Data() {
		$('#lbl_title').text($("#type option:selected").text());
		$('#lbl_description').text(ticket.desc);
		$('#lbl_quantity').text(ticket.quantity);
	}
	function createTicket() {
		// submit form
		$.ajax
	    ({
	        type: "POST",
	        url: "{{ url_for('create_service_request') }}",
	        dataType: 'json',
	        async: false,
	        data: JSON.stringify(ticket),
	        success: function () {
	        	swal({
	        		title: "Success!",
	        		type: "success",
	        		text: "Ticket created",
	        		timer: 1000,
	        		showConfirmButton: false });
	        	window.location.href = "{{ url_for('home') }}";
	        },
	        error: function () {
	        	$("#alert").text("There seems to be an issue at the moment");
	        	$("#alert").removeClass('hidden');
	        }
	    })
	}
	function validateData() {
		$("#alert").text("");
		$("#alert").addClass('hidden');
		if($('#date_requested').val().trim() === null || 
			$('#date_requested').val().trim() == "") {
			$("#alert").text("Please select an appointment date");
			$("#alert").removeClass('hidden');
			return false;
		} else { return true; }

	}
	function saveDataLocally() {
		ticket.type = $("#type").val();
		ticket.quantity = $('#quantity').val();
		ticket.pm = $('#pm').val();
		ticket.desc = $('#description').val().trim();
		ticket.date_requested = $('#date_requested').val();
		ticket.timeframe = $('#timeframe').val();
	}

</script>
     
{% endblock %}