{% extends "homepage.html" %}
{% block body %}
        <h2 class="sub-header">New Service Request</h2>
        <div class="container">
        {% if error %}<div class="alert alert-danger" role="alert">{{ error }}</div> {% endif %}




        <div class="form-group">
          <form class="form-vertical" action="{{ url_for('create_service_request') }}" method="post">
          	<fieldset>
				
				<br>&nbsp;<br>
				<div class="col-md-12">
					<div class="col-md-4">
			          	<!-- Item Selection -->
			          	<label class="control-label" for="item_type">What type of service do you need?</label>
						<select id="item_type" class="col-md-6 form-control">
						    <option value="one">One</option>
						    <option value="two">Two</option>
						    <option value="three">Three</option>
						    <option value="four">Four</option>
						    <option value="five">Five</option>
						</select>
					</div>

					<div class="col-md-4">
			          	<!-- Item Selection -->
			          	<label class="control-label" for="quantity">How many?</label>
						<select id="quantity" class="col-md-6 form-control">
						    <option value="1" default>1</option>
						    <option value="2">2</option>
						    <option value="3">3</option>
						    <option value="4">4</option>
						    <option value="5">5</option>
						    <option value="6">6</option>
						    <option value="7">7</option>
						    <option value="8">8</option>
						    <option value="9">9</option>
						    <option value="10">10</option>
						    <option value="11">11</option>
						    <option value="12">12</option>
						    <option value="13">13</option>
						    <option value="14">14</option>
						    <option value="15">15</option>
						    <option value="16">16</option>
						    <option value="17">17</option>
						    <option value="18">18</option>
						    <option value="19">19</option>
						    <option value="20">20</option>
						</select>
					</div>

					<div class="col-md-4">
			          	<!-- Item Selection -->
			          	<label class="control-label" for="pm">Applies to PM Contract?</label>
						<select id="pm" class="col-md-6 form-control">
						    <option value="No" default>No</option>
						</select>
					</div>
					
					<br>&nbsp;<br>
					<br>&nbsp;<br>
					
					<!-- Buttons -->
					<div class="col-md-4">
					</div>
					<div class="col-md-2">
						<button class="btn btn-default btn-block" type="submit">Cancel</button>
					</div>
					<div class="col-md-2">
						<button class="btn btn-primary btn-block" type="submit">Next</button>
					</div>

				</div>
				
				
				
            </fieldset>
          </form>
         </div>
        </div>
     
{% endblock %}