{% extends "homepage.html" %}
{% block body %}
        <h2 class="sub-header">Activity Feed</h2>

          <div id="section1" class="col-md-10">
            <div class="col-md-2">
              <image class="profile-sm" src="../static/images/profile-lg-218x220.png">
            </div>

            <div class="col-md-6">
              <dl>
                <dt id="lbl_title">###-######## + Title</dt>
                <dd id="lbl_description">Description</dd>
              </dl>
              
            </div>

            <div class="col-md-2">
              <span class="label label-pill label-info">Requested</span>
              <!--
              <span class="label label-pill label-default">Default</span>
              <span class="label label-pill label-primary">Primary</span>
              <span class="label label-pill label-success">Success</span>
              <span class="label label-pill label-warning">Warning</span>
              <span class="label label-pill label-danger">Danger</span>
              -->
            </div>
          </div>

          <div id="section1" class="col-md-10">
            <div class="col-md-2">
              <image class="profile-sm" src="../static/images/profile-lg-218x220.png">
            </div>

            <div class="col-md-6">
              <dl>
                <dt id="lbl_title">###-######## + Title</dt>
                <dd id="lbl_description">Description</dd>
              </dl>
              
            </div>

            <div class="col-md-2">
              <span class="label label-pill label-info">Requested</span>
              <!--
              <span class="label label-pill label-default">Default</span>
              <span class="label label-pill label-primary">Primary</span>
              <span class="label label-pill label-success">Success</span>
              <span class="label label-pill label-warning">Warning</span>
              <span class="label label-pill label-danger">Danger</span>
              -->
            </div>
          </div>

          <div id="section1" class="col-md-10">
            <div class="col-md-2">
            </div>
            <div class="col-md-6">
              <label>No More Updates</label>
              
            </div>
            <div class="col-md-2">
            </div>
          </div>
{% endblock %}