{% extends "homepage.html" %}
{% block body %}
        <h2 class="sub-header">#{{ ticket.id[-12:] }} - {{ ticket_types[ticket.type-1].title }} <a href="#"><image class="comment-img" src="{{ url_for('static', filename='images/comment-626x626.png') }}"></a></h2>
        <div class="container">
        {% if error %}
        <div id="alert" class="alert alert-danger" role="alert">{{ error }}</div> 
        {% else %}
        <div id="alert" class="alert alert-danger hidden" role="alert">{{ error }}</div>
        {% endif %}


        <div class="form-group">
          <form class="form-vertical" action="" method="post">
            <fieldset>
                
                <br>&nbsp;<br>


                <div id="section1" class="col-md-12">

                    <div class="col-md-2">
                      <image class="profile-sm" src="{{ url_for('static', filename='images/profile-lg-218x220.png') }}"> <br>Reporter's Name
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Status: </label>
                        <span id="status_value" class="label label-pill label-info">{{ ticket_statuses[ticket.status-1].title }}</span>
                        
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Created: </label>
                            {{ ticket.created_at }}
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Updated: </label>
                        <span id="updated_at_value">{{ ticket.updated_at }}</span>
                    </div>

                    <div class="col-md-2">
                        <a href="#" class="no-decoration">Cancel Request</a>
                    </div>
                    
                    <br>&nbsp;<br>
                    <br>&nbsp;<br>
                </div>
                {% if not ticket.appointment_confirmed: %}
                <div id="section2" class="col-md-12">
                    <div id="alert" class="alert alert-success col-md-12" role="alert">
                        
                        <div class="col-md-12">
                            <h4 class="text-center">Requested Service Date</h4>
                        </div>
                        <br>&nbsp;<br>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right vcenter">
                            <h5 class="center-text">{{ ticket.appointment_at.strftime('%A, %B %d, %Y') }}</h5>
                        </div>
                        <div class="col-md-6">
                            <select id="timeframe" class="col-md-2 form-control">
                                {% for t in time_slots: %}
                                    {% if ticket.timeslot == t.id %}
                                    <option value="{{ t.id }}" selected>{{ t.title }}</option>
                                    {% else: %}
                                    <option value="{{ t.id }}">{{ t.title }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <br>&nbsp;<br>
                        <br>&nbsp;<br>
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-4 text-right">
                            <button class="btn btn-md btn-default" type="button" onclick="location.href='{{ url_for('new_service_request') }}'">Edit</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-md btn-success" type="button" onclick="confirmAppointment()">Confirm</button>
                        </div>
                        <div class="col-md-2">&nbsp;</div>
                        
                    </div>
                </div>
                {% endif %}

                
                <div id="section3" class="col-md-12">
                    <h3 class="sub-header">Items</h3>
                </div>


                <div id="section4" class="col-md-12">
                    <div class="col-md-2">
                        <label id="counter" class="control-label">1</label>
                    </div>
                    <div class="col-md-4">
                        <dl>
                          <dt id="lbl_title">{{ ticket_types[ticket.type-1].title }}</dt>
                          <dd id="lbl_description">{{ ticket.description }}</dd>
                        </dl>
                    </div>
                    {% if ticket.appointment_confirmed: %}
                    <div class="col-md-2">
                        <span id="lbl_appointment_at">{{ ticket.appointment_at }}</span>
                    </div>
                    {% else: %}
                    <div class="col-md-2">
                        <span id="lbl_appointment_at"></span>
                    </div>
                    {% endif %}
                    <div class="col-md-2">
                        <label id="lbl_quantity" class="control-label">{{ ticket.quantity }}</label>
                    </div>
                    <div class="col-md-2">
                        <label id="price" class="control-label">$175.00</label>
                        <br>
                        <a href="#" class="no-decoration">Edit</a>
                    </div>
                </div>          
  
            </fieldset>
          </form>
         </div>
        </div>

        <script>

            $( document ).ready(function() {
             // initialize page
                ticket.id = {{ ticket.id }};
                ticket.reporter = {{ ticket.reporter }};
                ticket.provider = {{ ticket.provider }};
                ticket.type = {{ ticket.type }};
                ticket.status = {{ ticket.status }};
                ticket.quantity = {{ ticket.quantity }};
                ticket.pm_contract = {{ ticket.pm_contract }};
                ticket.description = {{ ticket.description }};
                ticket.timeslot = {{ ticket.timeslot }};
                ticket.appointment_at = {{ ticket.appointment_at }};
                ticket.appointment_confirmed = {{ ticket.appointment_confirmed }};
                ticket.created_at = {{ ticket.created_at }};
                ticket.updated_at = {{ ticket.updated_at }};
                console.log(ticket);
            });

            function loadPageDataFromJSON(json) {
                ticket = JSON.parse(json);
                console.log(ticket);
                $("#status_value").text(ticket.status);
                $("#updated_at_value").text(ticket.updated_at);
                $("#lbl_appointment_at").text(moment(ticket.appointment_at).format("(ddd) MMM DD, YYYY"));
            }
            function confirmAppointment() {
                $.ajax
                ({
                    type: "PUT",
                    url: "{{ url_for('confirm_appointment_request', uid=session.get('user_id'), ticket_id=ticket.id) }}",
                    dataType: 'json',
                    async: false,
                    data: JSON.stringify("{ confirmed: true }"),
                    success: function (s) {
                        swal({
                            title: "Success!",
                            type: "success",
                            text: "Ticket updated",
                            timer: 1000,
                            showConfirmButton: false });
                        $("#section2").toggle();
                        loadPageDataFromJSON(s);
                    },
                    error: function () {
                        $("#alert").text("There seems to be an issue at the moment");
                        $("#alert").removeClass('hidden');
                    }
                });
            }

        </script>
     
{% endblock %}