{% extends "homepage.html" %}
{% block body %}
        <h2 class="sub-header">Service Request: {{ ticket.id }} - {{ ticket_types[ticket.type-1].title }}</h2>
        <div class="container">
        {% if error %}
        <div id="alert" class="alert alert-danger" role="alert">{{ error }}</div> 
        {% else %}
        <div id="alert" class="alert alert-danger hidden" role="alert">{{ error }}</div>
        {% endif %}


        <div class="form-group">
          <form class="form-vertical" action="" method="post">
            <fieldset>
                
                <br>&nbsp;<br>


                <div id="section1" class="col-md-12">

                    <div class="col-md-2">
                      <image class="profile-sm" src="{{ url_for('static', filename='images/profile-lg-218x220.png') }}"> <br>Reporter's Name
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Status: </label>
                        <span class="label label-pill label-info">Requested</span>
                        
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Created: </label>
                            {{ ticket.created_at }}
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Updated: </label>
                        {{ ticket.updated_at }}
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-md btn-danger navbar-btn" type="button" onclick="location.href='{{ url_for('new_service_request') }}'">Cancel Request</button>
                    </div>
                    
                    <br>&nbsp;<br>
                    <br>&nbsp;<br>
                </div>
                {% if not ticket.appointment_confirmed: %}
                <div id="section2" class="col-md-12">
                    <div id="alert" class="alert alert-success col-md-12" role="alert">
                        
                        <div class="col-md-12">
                            <h4 class="text-center">Requested Service Date</h4>
                        </div>
                        <br>&nbsp;<br>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right vcenter">
                            <label class="form-label">{{ ticket.appointment_at }}</label>
                        </div>
                        <div class="col-md-6">
                            <select id="timeframe" class="col-md-2 form-control">
                                {% if ticket.timeslot == 1 %}
                                <option value="1" selected>8 AM - noon</option>
                                <option value="2">10 AM - 2 PM</option>
                                <option value="3">noon - 5 PM</option>
                                {% elif ticket.timeslot == 2 %}
                                <option value="1">8 AM - noon</option>
                                <option value="2" selected>10 AM - 2 PM</option>
                                <option value="3">noon - 5 PM</option>
                                {% elif ticket.timeslot == 3 %}
                                <option value="1">8 AM - noon</option>
                                <option value="2">10 AM - 2 PM</option>
                                <option value="3" selected>noon - 5 PM</option>
                                {% endif %}
                            </select>
                        </div>
                        <br>&nbsp;<br>
                        <br>&nbsp;<br>
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-4 text-right">
                            <button class="btn btn-md btn-default" type="button" onclick="location.href='{{ url_for('new_service_request') }}'">Edit</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-md btn-success" type="button" onclick="location.href='{{ url_for('new_service_request') }}'">Confirm</button>
                        </div>
                        <div class="col-md-2">&nbsp;</div>
                        
                    </div>
                </div>
                {% endif %}


                <br>&nbsp;<br>
                <br>&nbsp;<br>

                
                <div id="section3" class="col-md-12">
                    <h3 class="sub-header">Items</h3>
                </div>


                <div id="section4" class="col-md-12">
                    <div class="col-md-2">
                        <label id="counter" class="control-label">1</label>
                    </div>
                    <div class="col-md-6">
                        <dl>
                          <dt id="lbl_title">{{ ticket_types[ticket.type-1].title }}</dt>
                          <dd id="lbl_description">{{ ticket.description }}</dd>
                        </dl>
                    </div>
                    <div class="col-md-2">
                        <label id="lbl_quantity" class="control-label">{{ ticket.quantity }}</label>
                    </div>
                    <div class="col-md-2">
                        <label id="price" class="control-label">$175.00</label>
                        <br>
                        <a href="#">Edit</a>
                    </div>
                </div>          
  
            </fieldset>
          </form>
         </div>
        </div>

        <script>

            $( document ).ready(function() {
             // initialize page
             console.log("{{ ticket.id }}");
            });

        </script>
     
{% endblock %}