{% extends "homepage.html" %}
{% block body %}
        <h2 class="sub-header">#{{ ticket.id[-12:] }} - {{ ticket_types[ticket.type-1].title }} <a href="#"><image class="comment-img" src="{{ url_for('static', filename='images/comment_blue-626x626.png') }}"></a></h2>
        <div class="container">
        {% if error %}
        <div id="alert" class="alert alert-danger" role="alert">{{ error }}</div> 
        {% else %}
        <div id="alert" class="alert alert-danger hidden" role="alert">{{ error }}</div>
        {% endif %}


        <div class="form-group">
          <form class="form-vertical" action="" method="post">
            <fieldset>
                
                <br>&nbsp;<br>


                <div id="section1" class="col-md-12">

                    <div class="col-md-2">
                      <image class="profile-sm" src="{{ url_for('static', filename='images/profile-lg-218x220.png') }}"> <br>{{ reporter.name }}
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Status: </label>
                        <span id="status_value" class="label label-pill label-info">{{ ticket_statuses[ticket.status-1].title }}</span>
                        
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Created: </label>
                            {{ ticket.created_at }}
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Updated: </label>
                        <span id="updated_at_value">{{ ticket.updated_at }}</span>
                    </div>

                    <div class="col-md-2">
                        <a href="#" class="no-decoration">Cancel Request</a>
                    </div>
                    
                    <br>&nbsp;<br>
                    <br>&nbsp;<br>
                </div>
                {% if not ticket.appointment_confirmed: %}
                <div id="section2" class="col-md-12">
                    <div id="alert" class="alert alert-success col-md-12" role="alert">
                        
                        <div class="col-md-12">
                            <h4 class="text-center">Requested Service Date</h4>
                        </div>
                        <br>&nbsp;<br>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right vcenter">
                            <input id="appt_date" name="appt_date" type="date" placeholder="" class="form-control input-md" value="{{ ticket.appointment_at.strftime('%Y-%m-%d') }}" required>
                        </div>
                        <div class="col-md-4">
                            <select id="timeframe" class="col-md-2 form-control">
                                {% for t in time_slots: %}
                                    {% if ticket.timeslot == t.id %}
                                    <option value="{{ t.id }}" selected>{{ t.title }}</option>
                                    {% else: %}
                                    <option value="{{ t.id }}">{{ t.title }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-md btn-success" type="button" onclick="confirmAppointment()">Confirm</button>
                        </div>
                    </div>
                </div>
                {% endif %}

                
                <div id="section3" class="col-md-12">
                    <h3 class="sub-header">Items</h3>
                </div>


                <div id="section4" class="col-md-12">
                    <div class="col-md-2">
                        <label id="counter" class="control-label">1</label>
                    </div>
                    <div class="col-md-4">
                        <dl>
                          <dt id="lbl_title">{{ ticket_types[ticket.type-1].title }}</dt>
                          <dd id="lbl_description">{{ ticket.description }}</dd>
                        </dl>
                    </div>
                    {% if ticket.appointment_confirmed: %}
                    <div class="col-md-2">
                        <span id="lbl_appointment_at">{{ ticket.appointment_at.strftime('%a %B %d, %Y') }} <br> {{ time_slots[ticket.timeslot-1].title }}</span>
                    </div>
                    {% else: %}
                    <div class="col-md-2">
                        <span id="lbl_appointment_at"></span>
                    </div>
                    {% endif %}
                    <div class="col-md-2">
                        <label id="lbl_quantity" class="control-label">{{ ticket.quantity }}</label>
                    </div>
                    <div class="col-md-2">
                        <label id="price" class="control-label">$175.00</label>
                        <br>
                        <a href="#" class="no-decoration">Edit</a>
                    </div>
                </div>          
                
                <div id="section5" class="col-md-12">
                    <h3 class="sub-header">Comments</h3>
                </div>
                
                <div id="section6" class="col-md-12">

                    <div class="col-md-2">
                      <image class="profile-sm" src="{{ url_for('static', filename='images/profile-lg-218x220.png') }}"> <br>Commenter's Name
                        <br> 00/00/0000 00:00 AM
                    </div>
                    <div class="col-md-8">
                        <p>Phasellus quis lectus ante. Duis sodales massa eget augue euismod faucibus. Nunc imperdiet efficitur nibh in vulputate. Maecenas facilisis sollicitudin enim, at convallis est. Donec eu turpis purus. Donec quis suscipit dui. Aenean ut viverra velit. Vestibulum eu leo sed lorem vehicula pretium eu eget lectus. Vestibulum id pellentesque erat. Donec varius lobortis tellus a porta. Morbi vitae accumsan nisi, ac imperdiet est. Sed neque sapien, condimentum sit amet ultrices ornare, vulputate sed urna. Vestibulum sapien sapien, iaculis in augue vel, facilisis laoreet eros. Mauris vitae nisi auctor, vulputate mi aliquet, lobortis massa.</p>
                        <span id="comment_datetime_value" class="label label-pill label-info">{{ date }}</span>
                        <br>

                        
                    </div>

                    <div class="col-md-2">
                        <a href="#" class="no-decoration"><image class="" src="{{ url_for('static', filename='images/edit-25x20.png') }}"></a>&nbsp;&nbsp;<a href="#" class="no-decoration"><image class="" src="{{ url_for('static', filename='images/trash-22x25.png') }}"></a>
                    </div>
                    
                    <br>&nbsp;<br>
                    <br>&nbsp;<br>
                </div>
                <div id="section7" class="col-md-12">

                    <div class="col-md-2">
                      <image class="profile-sm" src="{{ url_for('static', filename='images/profile-lg-218x220.png') }}"> <br>Person's Name
                    </div>
                    <div class="col-md-8">
                        <textarea id="description" rows="5" class="col-md-12 form-control"></textarea>             
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-md btn-success navbar-btn" type="button" onclick="location.href='{{ url_for('new_service_request') }}'">OK</button>
                    </div>
                    
                    <br>&nbsp;<br>
                    <br>&nbsp;<br>
                </div>


            </fieldset>
          </form>
         </div>
        </div>

        <script>
            var ticket = new Object();
            var statuses = new Object();
            var timeslots = new Object();

            $( document ).ready(function() {

             // initialize page
                ticket.id = "{{ ticket.id }}";
                ticket.reporter = "{{ ticket.reporter }}";
                ticket.provider = "{{ ticket.provider }}";
                ticket.type = "{{ ticket.type }}";
                ticket.status = "{{ ticket.status }}";
                ticket.quantity = "{{ ticket.quantity }}";
                ticket.pm_contract = "{{ ticket.pm_contract }}";
                ticket.description = "{{ ticket.description }}";
                ticket.timeslot = "{{ ticket.timeslot }}";
                ticket.appointment_at = "{{ ticket.appointment_at }}";
                ticket.appointment_confirmed = "{{ ticket.appointment_confirmed }}";
                ticket.created_at = "{{ ticket.created_at }}";
                ticket.updated_at = "{{ ticket.updated_at }}";
                console.log(ticket);

                {% for status in ticket_statuses: %}
                statuses[{{ status.id-1 }}] = "{{ status.title }}";
                {% endfor %}

                {% for slot in time_slots: %}
                timeslots[{{ slot.id-1 }}] = "{{ slot.title }}";
                {% endfor %}
            });

            function loadPageDataFromJSON(json) {
                ticket1 = JSON.parse(json);
                $("#status_value").text(statuses[ticket1.status-1]);
                $("#updated_at_value").text(ticket1.updated_at);
                apt_val = moment(ticket1.appointment_at).format("ddd MMMM DD, YYYY");
                apt_timeslot_val = timeslots[ticket1.timeslot-1];
                $("#lbl_appointment_at").html(apt_val + " <br> " + apt_timeslot_val);
            }
            function confirmAppointment() {
                var appointment_date = $("#appt_date").val();
                var appointment_timeslot = parseInt($("#timeframe").val());
                var dataToSend = new Object();
                dataToSend.confirmed = true;
                dataToSend.appointment_date = appointment_date;
                dataToSend.appointment_timeslot = appointment_timeslot;
                $.ajax
                ({
                    type: "PUT",
                    url: "{{ url_for('confirm_appointment_request', uid=session.get('user_id'), ticket_id=ticket.id) }}",
                    dataType: 'json',
                    async: false,
                    data: JSON.stringify(dataToSend),
                    success: function (s) {
                        swal({
                            title: "Success!",
                            type: "success",
                            text: "Ticket updated",
                            timer: 1000,
                            showConfirmButton: false });
                        $("#section2").toggle();
                        loadPageDataFromJSON(s);
                    },
                    error: function () {
                        $("#alert").text("There seems to be an issue at the moment");
                        $("#alert").removeClass('hidden');
                    }
                });
            }

        </script>
     
{% endblock %}