{% extends "homepage.html" %}
{% block body %}
        <h2 class="sub-header">Service Requests</h2>
          <button class="btn btn-lg btn-primary btn-block" type="submit">+ New</button>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>Updated</th>
                  <th>Provider</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>8383298</td>
                  <td>Service</td>
                  <td>Open</td>
                  <td>08/22/2015</td>
                  <td>Advantage</td>
                </tr>
                <tr>
                  <td>7938273</td>
                  <td>Service</td>
                  <td>Completed</td>
                  <td>07/09/2015</td>
                  <td>Advantage</td>
                </tr>
                <tr>
                  <td>7842433</td>
                  <td>Service</td>
                  <td>Completed</td>
                  <td>07/01/2015</td>
                  <td>Advantage</td>
                </tr>
                <tr>
                  <td>7278389</td>
                  <td>Service</td>
                  <td>Completed</td>
                  <td>06/14/2015</td>
                  <td>Advantage</td>
                </tr>
                <tr>
                  <td>6832990</td>
                  <td>Service</td>
                  <td>Completed</td>
                  <td>03/23/2015</td>
                  <td>Advantage</td>
                </tr>
                <tr>
                  <td>6832971</td>
                  <td>Warranty</td>
                  <td>Completed</td>
                  <td>03/15/2015</td>
                  <td>Advantage</td>
                </tr>
                <tr>
                  <td>6783333</td>
                  <td>Warranty</td>
                  <td>Completed</td>
                  <td>02/27/2015</td>
                  <td>Advantage</td>
                </tr>
              </tbody>
            </table>
          </div>
{% endblock %}